@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital@1&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    
}
body{
    background-color:rgb(255, 255, 255);
}
.wrapper{
    display: flex;
    position: relative;
    
}
.wrapper h2{
    position: fixed;
    top: 2rem;
    left: 5rem;
}
.wrapper h2 .fab{
    color: black;
}
.sidebar{
    margin-top: 5rem;
    position: fixed;
    width: 200px;
    min-height: 87.8vh;
    background-color: rgb(248, 248, 248);
    padding: 30px 0px;
    box-shadow:5px 5px 5px #a8a8a8;
}

.wrapper .sidebar h2 a{
    color: rgb(0, 0, 0);
    size: 200px;
}
.wrapper .sidebar ul li{
    padding: 20px;
    color: rgb(0, 0, 0);
   
}
.wrapper .sidebar ul li .fas{
    align-items: center;
    width: 25px;
    color: rgb(0, 0, 0);
}
.wrapper .sidebar ul li:hover{
    background-color: darkgrey;
    transition: 0.5s;
    cursor: pointer;
}
.container{
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5rem;
    min-width: 100%;
    min-height: 87.8vh;
}
    
.container h5{
    position: fixed;
    top: 20%;
    left: 18%;
    color: rgb(156, 156, 156);
    font-weight: 700;
}
.container h5 .fas{
    color: rgb(146, 146, 146);
}
.container .text1{
    position: fixed;
    top: 30%;
    left: 30%;
    width: 30rem;
    border-color: rgb(235, 235, 235);
    border-radius: 5px ;
    
}
.container h6{
    position: fixed;
    top: 40%;
    left: 45%;
}
.container .text2{
    position: fixed;
    left: 30%;
    height: 10rem;
    text-align: center;
    border-color:rgb(235, 235, 235);
    border-radius: 5px ;
   
}